
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-da-burger</title>
		<meta charset="UTF-8">
	<!-- linking our css, fonts, themes from bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<link rel="stylesheet" href="/static/assets/css/burger_style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>